# Global
*~
QA.txt
error_log
.htaccess
node_modules
package.json
package-lock.json

# script
script/php/constants.php
script/php/admin/IP-blacklist.php
script/php/admin/password.php
script/php/admin/capture/image.tar
script/js/constants.js
script/js/main-comp.js

# style
style/img/poets/new/*.jpeg
style/img/poets/new/*.png
style/img/poets/new/*.txt
style/css/main-comp.css

# pitew
pitew/contributors/*.txt
pitew/pdfs.txt
pitew/news.txt
pitew/res/*.txt

# desktop
update-version.txt
update-log.txt

# about
about/comments.txt

# /
/last-update.txt
/sitemap.xml
/test/
/tewar/
/tewar-legacy/
/rebwar/
/backup/
/google0a141cc724bea402.html
/.well-known/

# favicon
/style/img/favicon/browserconfig.xml
/style/img/favicon/site.webmanifest

# donations
/donate/donations.txt
