*~
script/php/constants.php
script/php/admin/IP-blacklist.php
script/php/admin/password.php
script/php/admin/capture/image.tar
style/img/poets/new/*.jpeg
style/img/poets/new/*.png
pitew/contributors/*.txt
pitew/news.txt
pitew/res/*.txt
update-version.txt
update-log.txt
last-update.txt
stats.txt
pdfs.txt
QA.txt
about/comments.txt
sitemap.xml
error_log
.htaccess
node_modules
test/
