html, body{height:100%;margin:0;}
body{font-family:'kurd', arial;font-size:24px;font-weight:normal;background:#fdfdfd;line-height:2.5;}
h1, h2, h3, h4, h5, h6, p, input, a, form, button, select,
ul, li, ol, header, div, footer, article, section, nav, img, table, tr,
td, th, textarea, span, i, sup, sub{padding:0;margin:0;border:0;font-family:inherit;font-weight:normal;transition:all .15s ease-out;-webkit-transition:all .15s ease-out;text-align:inherit;box-sizing:border-box;}
input[type=text], textarea, button{-webkit-appearance:none;appearance:none;outline:none;border-radius:0;}
input[type=text], textarea{padding:1em;text-align:right;border-top:3px solid #ddd;display:block;margin:auto;box-shadow:0 5px 10px -5px #eee;}
input[type=text]:focus, textarea:focus{background:#f5f5f5;}
i{font-style:normal;}
.poetnm a{display:inline-block;}
.bth:hover{opacity:.8;}
.gallery img{width:60px;opacity:0.8;cursor:pointer;}
.gallery img:hover{opacity:1;}
@keyframes tL{0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes tL-top{0%{opacity:0;margin-top:3em;}
    40%{opacity:0;}
    100%{opacity:1;margin-top:0;}
}
@keyframes tLr{0%{opacity:1;}
    100%{opacity:0;}
}
@keyframes tooltip{0%{opacity:0;margin-top:-1.5em;}
    100%{opacity:1;margin-top:0;}
}
@keyframes spin{0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
#tL-res{padding:15px 0 0;box-shadow:0 20px 24px -15px #ccc;position:relative;font-size:0.58em;max-width:800px;margin:auto;}
#tL-res-res{font-size:inherit;}
#tL-res a{text-align:right;padding:1em;display:block;font-size:inherit;}
#tL-res a:hover{opacity:0.75;}
.sli{display:inline-block;vertical-align:top;color:#444;border:0;margin:.5em auto 0;width:96%;}
.prev,.next{font-size:inherit;color:inherit;display:inline-block;width:50%;}
.prev{padding:0 1em .15em 8%;text-align:right;}
.next{padding:0 8% .15em 1em;text-align:left;}
.pmlist{display:inline-block;vertical-align:top;color:#444;padding:1em .5em;line-height:2.5;font-size:.55em;}
.pmlist:nth-child(even){width:30%;}
.pmlist:nth-child(odd){text-align:right;width:70%;border-right:1px solid #eee;}
.imglist{width:35%;display:inline-block;vertical-align:top;color:#444;padding:1em .5em;font-size:.55em;}
.imglist a{border-bottom:1px solid #ccc;}
.imglist:nth-child(3n-1){border-left:1px solid #eee;border-right:1px solid #eee;width:45%;}
.imglist:nth-child(3n){width:20%;}
.pitewsec{width:93%;display:block;vertical-align:top;color:#444;padding:.7em 0 .5em;margin:auto;border-bottom:2px dashed #eee;}
.pitewsec:hover{background:#f6f6f6;}
.pitewsec i.material-icons{font-size:4em;display:block;}
.pitewsec h3,.pitewsec a{color:inherit;}
.pitewsec h3{font-size:.75em;}
.pitewsec small{font-size:.8em;}
#hon sup{cursor:pointer;}
#hon sup:hover{opacity:.8;text-shadow:0 0 10px currentColor;}
#hon-comments{border-top:1px solid #ddd;padding-top:.5em;max-width:800px;margin:auto;}
#commNameTxt,#commTxt{font-size:.6em;width:100%;}
#commTxt{min-height:8.5em;}
.comment{text-align:right;padding:.5em;background:#f8f8f8;box-shadow:0 20px 20px -20px #bbb;margin-bottom:1px;}
.comm-name{font-size:.7em;line-height: 2;margin-bottom:.8em;}
.comm-body{background:url(/style/img/quote-right.svg) no-repeat right top, url(/style/img/quote-left.svg) no-repeat left bottom;background-size:.7em;font-size:.55em;text-indent:1em;padding:.5em 1em;text-align:justify;}
.comm-footer{text-align:left;font-size:.45em;color:#666;}
.nav a:hover{background:#eee;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none;}
.ng{font-size:.5em;padding:1em .5em;display:block;background:#cfc;}
.nr{font-size:.5em;padding:1em .5em;display:block;background:rgba(255,0,0,.1);}
.hn{color:#666;font-size:.75em;}
.hp{color:#444;font-size:.76em;}
.tt{margin:-1.5em 0 1em;opacity:0;background:#f0f0f0;color:#666;font-size:.65em;padding:5px 0;display:none;animation:tooltip .2s ease forwards;}
.bk-comp:hover{opacity:.4;}
.button{background:#f3f3f3;color:#444;box-shadow:0 2px 3px -2px #ddd;border-radius:2px;padding:1em;font-size:.58em;}
.button:hover{background:#fff;color:#000;}
.button i{font-size:1.3em;height:.8em;vertical-align:middle;}
.material-icons{font-family:'Material Icons';direction:ltr;line-height:1;display:inline-block;-moz-font-feature-settings:'liga';-moz-osx-font-smoothing:grayscale;}
.stats-min{font-size:.65em;color:#666;}
.sub-num{vertical-align:bottom;}
header a:hover, section a:hover{opacity:.85;}
header{padding:.5em 0;text-align:center;max-width:1200px; margin:auto; position:relative;}
header a,header h1,header h2{color:inherit;}
header a{display:inline-block;}
header a h1{font-size:1.2em;}
header h2{font-size:.65em;margin-top:-.5em;}
#poets{padding:0;text-align:center;margin:0 auto;max-width:1200px;}
.psec{width:24.5%;display:inline-block;vertical-align:top;max-width:calc(120px + 3%);color:#444;padding:.5em 1.25% .1em;}
.psec:hover{opacity:.8;}
.psec h3,.psec a{color:inherit;}
.psec h3{font-size:.6em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.psec img{border-radius:100%;width:100%;height:100%;display:block;box-shadow:0 3px 4px -3px #aaa;}
.poet{margin-bottom:2em;}
.poetimg{max-width:460px;margin:0 auto;width:65%;}
.poetimg .pro-460{width:100%;border-radius:100%;display:block;box-shadow:0 -1px 5px -2px #666;}
.poetnm{font-size:.7em;padding:1em;border-bottom:1px solid #eee;}
.poetdesc{width:100%;max-width:500px;margin:0 auto 45px;text-align:right;}
.poetdesc p{text-align:right;font-size:.55em;}
.bks{font-size:.8em;line-height:2.5;max-width:500px;margin:1.5em auto 1em;box-shadow:0 0 10px #eee;}
.bks a{padding:1em .3em;display:block;border:1px solid #f0f0f0;border-top:0;background:#fff;}
.bks a:hover{background:#f0f0f0;}
.bks p{font-size:.95em;padding:.6em 0;}
#adrs{font-size:.8em;color:#444;}
#adrs i{font-size:inherit;}
#adrs a{color:#000;padding:.5em .3em;display:inline-block;}
#adrs a:hover{background-color:#eee;}
#current-location{padding:.5em .3em;display:inline-block;color:inherit;font-size:inherit;}
#sp div{text-align:right;border-bottom:1px solid #eee;font-size:.7em;}
#sp a{padding:1em .3em;width:100%;}
#bkon{font-size:.9em;padding:5px 4px;color:#000;margin-bottom:.8em;}
#bhon{font-size:.9em;padding:10px 4px 5px;color:#000;text-align:center;}
#bkondesc{padding:.5em .2em;font-size:.6em;color:#444;display:block;background-color:#f3f3f3;}
#bhondesc{padding:1em .5em;font-size:.6em;color:#555;background:#f3f3f3;margin-bottom:1.5em;}
#hon p{font-size:.58em;padding:0 0 7px;transition:none;-webkit-transition:none;}
#hon{margin:0 auto 1;padding:1em 7px;}
#hon,.b,.m1,.m2,.n,.m,.m3, .b span, .ptr,#hon sup{transition:none;-webkit-transition:none;}
#sp{padding:0 .5em 1.5em;margin:auto;}
#search{width:100%;display:none;margin-bottom:.5em;}
#search-key{font-size:.65em;border:1px solid #eee;border-left-color:#f6f6f6;width:65%;display:inline-block;text-align:right;background-color:#f6f6f6;}
#search-key:focus{background-color:#fff;}
#search-btn{width:35%;font-size:.65em;padding:1em 0;border-bottom:1px solid #f6f6f6;border-top:1px solid #f6f6f6;background:#f6f6f6;display:inline-block;text-align:center;}
#search-res{display:none;padding:1em .3em;box-shadow: 0 12px 25px -8px #ddd;position:relative;max-width:850px;margin:auto;}
#search-res #bhon{font-size:.55em;padding:.5em 0;margin:0 0 7px;line-height:2;background-color:#f0f0f0;}
.bhoh-newdaq{text-align:right;padding:10px 10px 0;font-size:0.7em;margin:0;background:none;border-bottom:0;color:#000;}
#search-res a{font-size:.57em;}
#search-res a h3{font-size:.95em;margin-top:.2em;}
#search-res section a h3{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.search-notfound{font-size:0.6em;background:#efefef;border-radius:60% 60% 0 0;box-shadow:0 2px 5px -3px #aaa;border-top:1px solid #e0e0e0;text-align:center;}
#search-res section{margin:0 4px;display:inline-block;max-width:68px;width:18%;}
#search-res section img{border-radius:100%;width:100%;box-shadow:0 3px 4px -3px #aaa;display:block;}
#search-res #poets{padding:0;margin-bottom:3px;}
.search-hon div{margin:.3em .1em;padding:0 10px;background:#f2f2f2;border-radius:2px;border:1px solid #ccc;text-align:right;}
.search-hon div:hover{background:#fff;border:1px solid #bbb;box-shadow:1px 1px 1px #ccc;}
.search-hon a{width:100%;display:block;text-align:right;padding:12px 0;}
.search-hon a i, .search-book a i{font-size:.85em;color:#444;}
.search-book a{margin:.3em;display:inline-block;padding:12px 10px;border-radius:2px;border:1px solid #ddd;background:#eee;color:#000;font-size:1em;}
.search-book a:hover{background:#fff;border:1px solid #bbb;box-shadow:1px 1px 1px #ccc;}
.search-book{margin-bottom:10px;line-height:1.7;text-align:right;}
.b{margin-bottom:1.6em;font-size:.58em;}
.n{margin-bottom:1.45em;font-size:.58em;}
.b .m1, .b .m2, .b .m3, .ptr .m1, .ptr .m2, .ptr .m3{padding:3px 0;font-size:inherit;}
.m, .b span, .n span, .m span, .m1 span, .m2 span, .m3 span{font-size:inherit;}
.m{padding:3px 13px 3px 7px;text-align:right;}
.cf{background:#f3f3f3;}
.loader{border:2px solid #eee;border-top:2px solid #666;border-radius:100%;width:5rem;height:5rem;animation:spin .4s linear infinite;margin:auto;}
.fontsize{font-size:.65em;padding:.5em 0;text-align:right;border-bottom:1px solid #eee;color:#aaa;}
.fontsize i{font-size:inherit;}
.fontsize button{background:#f7f7f7;color:#444;box-shadow:0 2px 3px -2px #ccc;display:inline-block;border-radius:2px;}
.fontsize button:hover{background:#fff;color:#000;}
.bigger{font-size:.83em;padding:.7em .3em;}
.smaller{font-size:.83em;padding:.7em .3em;margin-right:7px;}
header div{opacity:.8;}
header div:hover{opacity:.6;}
#sp a:hover{background:#f3f3f3;}
#Acomms div{font-size:.8em;text-align:justify;padding:.75em 1em .4em;margin-bottom: .4em;}
.h{direction:rtl;display:block;color:#777;font-size:.63em;text-align:left;font-family:mono;line-height:normal;margin-top:1em;}
.link{border-bottom:1px solid #ccc;padding:.5em;}
.link:hover{background-color:#eee;border-bottom-color:#eee;}
.seartog {position:absolute;left:.4em;cursor:pointer;top:1em;}
.seartog-i {font-size:1.6em;}
@keyframes concentrate{
    0% { border-radius:0 0 15% 15%;box-shadow: 0 8px 2px -8px #ccc; }
    70% { border-radius:0 0 25% 25%;box-shadow: 0 8px 2px -6px #aaa; }
    100% { border-radius:0;box-shadow: none; }
}
@keyframes smile{
    0% { border-radius:0;box-shadow: 0 8px 2px -8px #ccc; }
    50% { border-radius:0 0 30% 30%;box-shadow: 0 8px 2px -6px #aaa; }
    100% { border-radius:0 0 15% 15%;box-shadow: none;}
}
.ptr{margin-top:1em;padding: 0.75em 0 0.1em;font-size:1em;}
.bk-comp{vertical-align:middle;text-shadow:0 0 3px #fff;font-size:.8em;font-weight:bold;height:.4em;padding-right:.2em;cursor:pointer;}
.ptrh{font-size:.58em;padding-bottom:.9em;}
.d{font-size:.8em;color:#333;padding:1em;}
.dltr{direction:ltr;text-align:left;}
@media only screen and (max-width:900px){.psec{max-width:calc(100px + 3%);}
}
@media only screen and (min-width:600px){body{font-size:28px;}
    .sli:nth-child(even){width:29%;}
    .sli:nth-child(odd){width:69%; border:1px solid #eee;}
    .sli{margin:1em auto;}
    .pitewsec{width:45%;display:inline-block;vertical-align:top;color:#444;padding:2em 2%;border:0;}
    #search-btn{width:20%;}
    #search-key{width:80%;}
    #poets{padding:.5em .2em;}
}
footer{padding:1.5em 0;width:100%;font-size:.56em;text-align:center;}
footer a{display:inline-block;color:#555;padding:.5em 0;margin:0 .3em;border-bottom:1px solid #ddd;}
footer a:hover{border-bottom:none;background:#eee;}
footer i{font-size:1.4em;}
@font-face{font-family:'kurd';font-display:swap;font-style:normal;font-weight:400;src:url('/style/font/DroidNaskh-Regular.woff2') format('woff2');}
@font-face{font-family:'Material Icons';font-display:swap;font-style:normal;font-weight:400;src:url('/style/font/Material-Icons.woff2') format('woff2');}
